/* Jeremy Calhoun */
/* WEB115-N801 */

html {
	background: #4a494f;
}

h1, p, footer {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

h1, p {
	color: white;
	text-align: center;
}

h1 {
	max-width: 600px;
}

p {
	font-family: cursive;
	max-width: 700px;
}

li {
	list-style-type: none;	
}