/* Jeremy Calhoun */
/* WEB115-N801 Fall 24 */


html {
	background: #333333;
}

header, footer {
	width: 100%;
	margin: auto;
	text-align: center;
	color: #c5ffff;
	background-color: #2f2f5d99;
}

header ul, footer ul {
	padding:0ch;
	margin: 0;
}
header nav, footer nav {
	background-color: #77eefd;
}

h1 {
	margin: .5ch 0;
	font-family: Garamond;
	font-size: 3em;
}

h2 {
	font-family: Garamond;
	font-size: 2em;
	text-align: center;
	color: #7ca3f5;
	margin: 1ch auto;
}

h3 {
	font-family: Garamond;
	text-align: center;
	color: #7ca3f5;
	margin: 1ch auto;
}

p {
	font-family: tahoma;
	max-width: 800px;
	color: #c5ffff;
	margin: 1ch auto;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

footer p {
	margin: 1ch auto;
}

footer {
	margin-bottom: 1ch;
}

img {
	margin: 1ch auto;
}

main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin: 1ch 0 3ch;
}

main ul {
	padding: 0;
	margin: 1ch auto;
}

header li, footer li {
	display: inline-flex;
	padding: 1ch 3ch;
}

/* webpage and social link buttons */
header li a, footer li a {
	color: #c5ffff;
	font-family: tahoma;
	text-decoration:none;
	margin: auto;
	color: #2f2f5d;
	font-weight: bold;
}

/* webpage and social link buttons */
header li:hover, footer li:hover {
	background-color: #5b65db99;
}

/* webpage and social link buttons */
header li a:active, footer li a:active {
	font-size: .9em;
}

/* link for introduction in paragraph in welcome */
.introlink {
	font-family: tahoma;
	color: #c5ffff;
}

.introlink:hover {
	color: #7ca3f5;
}

/* webpage pictures */
.image {
	display: block;
}

/* any list in the main section */
.mainlists li {
	list-style-type: disc;
	font-family: tahoma;
	max-width:700px;
	margin: auto;
	color: #c5ffff;
}


/* webpage link buttons */
.currentpage {
	background-color: #2f2f5d;
}

.currentpage a {
	color: #c5ffff;
}

.captions {
	text-align: center;
	margin-top: 0ch;
}

@media only screen and (max-width: 120ch) {
	header, footer {
	width: 98%;
	}
}