/* Jeremy Calhoun */
/* WEB115-N801 Fall 24 */


html {
	background: #333333;
}

header, footer{
	width: 1215px;
	margin: auto;
	text-align: center;
	color: #c5ffff;
	background-color: #2f2f5d99;
	box-shadow:0 0 10px 4px #e4e0c1;
	border-radius: 30px;
}

header ul, footer ul{
	padding:0ch 2ch;
}

h1{
	font-family: Garamond;
	font-size: 3em;
}

h2 {
	font-family: Garamond;
	font-size: 2.5em;
	margin: auto;
	text-align: center;
	color: #7ca3f5;
	padding: .5ch;
}

h3 {
	font-family: Garamond;
	margin: auto;
	text-align: center;
	color: #7ca3f5;
}

p {
	font-family: tahoma;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	color: #c5ffff;
}

body{
	padding-top: .6ch;
	display: flex;
	flex-direction: column;
	min-height: 98.5vh;
	margin: auto;
}

main{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
}

article{
	padding-bottom: .5ch;
}

header li, footer li{
	display: inline-flex;
	padding: 1ch;
}

/* webpage and social link buttons */
header li a, footer li a {
	color: #c5ffff;
	font-family: tahoma;
	text-decoration:none;
	background-color: #2f2f5d99;
	border-radius: 30px;
	padding: 1ch 2.5ch;	
	box-shadow:0 0 10px 2px #e4e0c1;
}

/* webpage and social link buttons */
header li a:hover, footer li a:hover {
	background-color: #5b65db99;
}

/* webpage and social link buttons */
header li a:active, footer li a:active {
	box-shadow:0 0 10px 10px #e4e0c1;
}

li{
	/* padding: 1ch; */
}

/* webpage pictures */
.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* any list in the main section */
.mainlists li {
	list-style-type: disc;
	font-family: tahoma;
	max-width:700px;
	margin-left: auto;
	margin-right: auto;
	color: #c5ffff;
}

/* webpage link buttons */
.currentpage {
	box-shadow:0 0 10px 3px #00e2ff;
}

.captions {
	text-align: center;
}

@media only screen and (max-width: 1215px) {
	header, footer{
	width: 98%;
	}
}