/* Jeremy Calhoun */
/* WEB115-N801 Fall 24 */

html {
	background: #4a494f;
}

header, h2, h3, p, footer, .mainlists {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

header, h2, h3, p, .mainlists  {
	color: white;
	text-align: center;
}

header {
	max-width: 1000px;
	background-color: #2f2f5d99;
	box-shadow:0 0 10px 5px #e4e0c1;
	border-radius: 30px;
	padding:0.5ch 2ch;
	margin-bottom : 10ch;
}


h2 {
	padding-bottom: 3ch;
	font-size: 3em;
}

h3 {
	padding-top: 3ch;
	font-size: 2.5em;
}

p, .mainlists {
	font-family: cursive;
	max-width: 700px;
}

main {
	padding-bottom: 15ch;
}

footer {
	max-width:1400px;
	padding-top: 1ch;
	background-color: #2f2f5d99;
	border-radius: 30px;
	box-shadow:0 0 10px 3px #e4e0c1;
}

header li, footer li{
	display: inline-flex;
}

header li a, footer li a {
	color: white;
	background-color: #2f2f5d99;
	border-radius: 30px;
	padding:1.5ch 3ch;	
	box-shadow:0 0 10px 2px #e4e0c1;
}

header li a:hover, footer li a:hover {
	background-color: #5b65db99;
}

header li a:active, footer li a:active {
	box-shadow:0 0 10px 10px #e4e0c1;

}

li{
	padding: 1ch;
}

.self {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.mainlists li {
	list-style-type: disc;
	padding: 1ch;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.currentpage {
	box-shadow:0 0 10px 3px #00e2ff;
}